* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #6974de, #764ea5);
    font-family: sans-serif;
}

header {
    background-color: #1a1a2e;
    padding-top: 25px;
    padding-bottom: 25px;
}

header h2 {
    color: #fe6a6b;
    padding-left: 225px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 28px;
    display: inline;
}

header nav {
    display: inline;
    padding-left: 300px;
}

nav a {
    color: white;
    text-decoration: none;
    padding-right: 70px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

.main {
    background-color: white;
    margin: 40px 150px 40px 225px;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

ul {
    list-style: none;
}

.bem-vindo {
    background-color: #323f74;
    margin: 20px 150px 20px 225px;
    height: 600px;
    border-radius: 8px;
    padding: 80px 15px;
    display: flex;
    flex-flow: row;
}

.pixel-forge {
    width: 500px;
    align-self: center;
}

.pixel-forge h1 {
    color: white;
    font-size: 46px;
    line-height: 70px;
    text-shadow: 3px 3px black;
}

.pixel-forge p {
    color: white;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 28px;
}

.jogos {
    color: white;
    background-color: #fe6a6b;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}

.planos {
    color: white;
    background-color: #687ae4;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}

.cadastro {
    background-color: whitesmoke;
    border-radius: 8px;
    width: 565px;
    padding-left: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.cadastro h3 {
    text-align: center;
    padding-bottom: 30px;
}

.cadastro label {
    display: block;
    padding-bottom: 10px;
}

.cadastro input {
    display: block;
    width: 525px;
    height: 38px;
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 25px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.cadastro select {
    margin-bottom: 25px;
    width: 545px;
    height: 42px;
    font-size: 14px;
    padding-left: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.cadastro button {
    width: 545px;
    height: 42px;
    font-size: 16px;
    padding-left: 15px;
    color: white;
    background-color: #fe6a6b;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

.escolha-pixelforge {
    padding: 60px 20px;
}

.lista-beneficios {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 20px;
}

.titulo-beneficio {
    text-align: center;
    font-size: 35px;
    padding-bottom: 50px;
}

.layout-beneficio {
    background: linear-gradient(to bottom right, #6974de, #764ea5);
    width: 250px;
    text-align: center;
    height: 290px;
    border-radius: 8px;
    padding: 0px 15px 15px 15px;
    box-shadow: 4px 4px 4px #cccccc87;
}

.subtitulo-beneficio {
    padding: 30px 0px;
    font-size: 40px;
}

.descricao-beneficio {
    color: white;
    font-size: 24px;
    line-height: 38px;
    padding-bottom: 15px;
}

.paragrafo-beneficio {
    color: white;
    font-size: 17px;
    line-height: 26px;
}

.planos-precos {
    padding: 60px 20px;
}

.titulo-planos {
    text-align: center;
    padding-bottom: 50px;
    font-size: 35px;
}

.planos-precos table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cccccc32;
    box-shadow: 
        -4px 0px 4px #cccccc87,
        4px 0px 4px #cccccc87,
        0px 4px 4px #cccccc87;
    border-radius: 8px;
    overflow: hidden;
}

.planos-precos th {
    color: white;
    background: linear-gradient(to bottom right, #6974de, #764ea5);
    padding: 15px;
    text-align: left;
    border: none;
}

.planos-precos td {
    padding: 20px 15px;
    border: none;
    border-bottom: 1px solid #cccccc52;
}

.planos-precos .precos {
    color: #fe6a6b;
    font-size: 26px;
    font-weight: 700;
}

.planos-precos th:first-child {
    border-top-left-radius: 8px;
}

.planos-precos th:last-child {
    border-top-right-radius: 8px;
}

.planos-precos tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.planos-precos tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.jogos-destaques {
    padding: 60px 20px;
}

.titulo-destaque {
    text-align: center;
    padding-bottom: 50px;
    font-size: 35px;
}

.lista-destaques {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 34px;
}

.layout-destaque {
    width: 280px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 
        -4px 0px 4px #cccccc87,
        4px 0px 4px #cccccc87,
        0px 4px 4px #cccccc87;
        padding-bottom: 20px;
}

.subtitulo-galaxia {
    padding: 65px 0px;
    font-size: 40px;
    background-color: #6680e9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.layout-destaque div {
    padding: 20px 15px;
}

.descricao-destaque {
    font-size: 20px;
    padding-bottom: 15px;
}

.paragrafo-destaque {
    font-size: 15px;
    line-height: 26px;
    padding-bottom: 30px;
    font-weight: 500;
    color: #737373;
}

.subtitulo-lendas {
    padding: 65px 0px;
    font-size: 40px;
    background-color: #fe6a6b;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.subtitulo-velocidade {
    padding: 65px 0px;
    font-size: 40px;
    background-color: #50d066;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.subtitulo-magos {
    padding: 65px 0px;
    font-size: 40px;
    background-color: #764ba2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.botao-destaque {
    text-decoration: none;
    color: white;
    font-size: 17px;
    background-color: #6680ea;
    font-weight: 600;
    padding: 15px 35px;
    border-radius: 5px;
}

.novidades {
    background-color: #131324;
    text-align: center;
    margin: 40px 150px 40px 225px;
    border-radius: 8px;
    padding-top: 60px;
    padding-bottom: 15px;
}

.novidades h2 {
    color: white;
    font-size: 35px;
    padding-bottom: 28px;
}

.novidades p {
    color: white;
    font-size: 17px;
    padding-bottom: 40px;
}

.novidades div {
    margin-bottom: 30px;
}

.email-novidade {
    width: 525px;
    height: 38px;
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 25px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.inscrever-se {
    color: white;
    background-color: #fe6a6b;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
}

.sobre-tudo {
    background-color: #1a1a2e;
    text-align: center;
}

.lista-sobre {
    display: inline-block;
    padding: 0px 100px;
}

.subtitulo-sobre {
    color: #fe6a6b;
    padding: 50px 0px 25px 0px;
    font-size: 18px;
}

.botao-sobre {
    display: block;
    padding-bottom: 15px;
    text-decoration: none;
    color: rgb(223, 222, 222);
}

.sobre-tudo hr {
    margin-top: 30px;
}

.sobre-tudo p {
    color: white;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 40px;
}